<main role="main">

  <div class="album py-5 bg-light">
     <div class="container">
            <div class="row">
             <div class="col-md-3 project-details-sb">
                      <div >
                          <img class="img-fluid" src="/image/logo.png" alt="logo of Rajat Rao">
                      </div>
                      <hr>
                 <div class="sb-link-main">
                     <h5>Social Profile</h5>
                     <ul class="social">
                         <li><a href="https://www.linkedin.com/in/rajatrao0594/" title="Linkedin">
                        <i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.github.com/in/rajatrao0594/" title="Github">
                        <i class="fab fa-github-square"></i></a></li>
                        <li><a href="https://www.twitter.com/in/rajatraorr/" title="Twitter">
                        <i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/in/rajatrao0/" title="Facebook">
                        <i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/in/rajatrao_rr/" title="Instagram">
                        <i class="fab fa-instagram"></i></a></li>
                     </ul>           
                 </div>
                 <hr>
                 <div>
                      <h5>About this Project</h5>
                     <ul class="social">
                         <li><a href="https://www.linkedin.com/in/rajatrao0594/" title="Linkedin">
                        <i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.github.com/in/rajatrao0594/" title="Github">
                        <i class="fab fa-github-square"></i></a></li>
                        <li><a href="https://www.twitter.com/in/rajatraorr/" title="Twitter">
                        <i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/in/rajatrao0/" title="Facebook">
                        <i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/in/rajatrao_rr/" title="Instagram">
                        <i class="fab fa-instagram"></i></a></li>
                     </ul>   
                 </div>
             </div>
                 <div class="col-md-9 project-detail-sb">
                   <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/contact">Contact</a></li>
                     </ol>
                 </nav>
                        <form>
                        <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your Full Name">
                        </div>
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    <div class="form-group">
                        <label for="mobile number">Mobile</label>
                        <input type="number" class="form-control" id="" placeholder="Mobile Number">
                    </div>
                    <div class="form-label-group">
                    <br>
                        <textarea name="description" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
             </div>
        </div>
     </div>
  </main>