<main role="main">

  <div class="album py-5 bg-light">
     <div class="container">
            <div class="row">
             <div class="col-md-3 project-details-sb">
                      <div >
                          <img class="img-fluid" src="/image/logo.png" alt="logo of Rajat Rao">
                      </div>
                      <hr>
                 <div class="sb-link-main">
                     <h5>Social Profile</h5>
                     <ul class="social">
                         <li><a href="https://www.linkedin.com/in/rajatrao0594/" title="Linkedin">
                        <i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.github.com/in/rajatrao0594/" title="Github">
                        <i class="fab fa-github-square"></i></a></li>
                        <li><a href="https://www.twitter.com/in/rajatraorr/" title="Twitter">
                        <i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/in/rajatrao0/" title="Facebook">
                        <i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/in/rajatrao_rr/" title="Instagram">
                        <i class="fab fa-instagram"></i></a></li>
                     </ul>           
                 </div>
                 <hr>
                 <div>
                      <h5>About this Project</h5>
                     <ul class="social">
                         <li><a href="https://www.linkedin.com/in/rajatrao0594/" title="Linkedin">
                        <i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.github.com/in/rajatrao0594/" title="Github">
                        <i class="fab fa-github-square"></i></a></li>
                        <li><a href="https://www.twitter.com/in/rajatraorr/" title="Twitter">
                        <i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/in/rajatrao0/" title="Facebook">
                        <i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/in/rajatrao_rr/" title="Instagram">
                        <i class="fab fa-instagram"></i></a></li>
                     </ul>   
                 </div>
             </div>
                 <div class="col-md-9 project-detail-sb">
                   <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/contact">Contact</a></li>
                     </ol>
                 </nav>
                  <form action="/contact" method="POST">
                    <div><h3>Contact Me</h3>    </div> 
                     <hr>
                     <br>
                    <div class="form-label-group"> <label for="fullname">Full Name</label>
                        <input type="text" placeholder="name"></div> 
                    <div class="form-label-group"><label for="Email"> Email</label>
                       <input type="text" placeholder="email"></div>
                    <div class="form-label-group"><label for="Mobile">Mobile</label>
                        <input type="number" placeholder="Mobile Number"></div>
                 <div class="form-label-group"> <textarea name="Description" id="" cols="30" rows="10" placeholder="Description"></textarea></div>
                  </form>
             </div>
        </div>
     </div>
  </main>