<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Modify your name and title below -->
    <title>Rajat Rao – Developer, Solution Architect</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/minireset.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/animations.css">
    <script defer type="text/javascript" src="/js/main.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>
    <div id="wallpaper" class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure id="picture" class="picture">
                <div class="picture-shadow"></div>
                <!-- Change the file names of your images -->
                <img id="pictureImage" class="picture-image"
                    src="/image/rajat.jpg"
                    srcset="/image/rajat.jpg 1x,
                            /image/rajat@2x.jpg 2x,
                            /image/rajat@3x.jpg 3x"
                    alt="Portrait of Rajat Rao"
                    width="320"
                    height="320">
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">
                <!-- Change your name here -->
                Hi, I'm Rajat Rao
            </h1>
            <p class="job">
                <!-- Change your title here -->
                Developer, Solution Architect
            </p>
            <hr class="hr">
            <div class="description">
                <p>
                <!-- describe yourself here -->
                I spend my time coding, reading, exploring
                nature. A Sports enthusiast, Rider, Environmentalist.
                One line that describes me : <br>'I make your own Adventure!' 
                </p> 
            </div>
            <div class="contact">
                <a class="button" href="/project">
                Get in touch
                </a>
            </div>
            <ul class="social">
                <li>
                    <!-- your twitter profile url -->
                    <a href="https://twitter.com/@Rajatrao_rr">
                        <i class="fab fa-twitter"></i>
                    </a> 
                </li>
                <li> 
                    <!-- your facebook profile url -->
                    <a href="https://www.facebook.com/rajatthechamp">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li> 
                <li>
                    <!-- your linkedin profile url -->
                    <a href="https://www.instagram.com/rajatrao_rr/">
                        <i class="fab fa-instagram"></i>
                    </a> 
                </li>
                <li>
                    <!-- your personal website url -->
                    <a href="https://rajatrao.com">
                        <i class="fab fa-globe"></i>
                    </a> 
                </li>
            </ul>
        </main>
    </div>

    <noscript>
        <style type="text/css">
              .wallpaper {
                animation-name: zoomOut;
          }
              .picture {
                animation-name: dropIn;
          } </style>
    </noscript>
  </body>
</html>