

<main role="main">

  <div class="album py-5 bg-light">
     <div class="container">
            <div class="row">
                  <div class="col-md-3 project-details-sb">
                     <div class="sb-link-main">
                      <h5>Links</h5>
                      <div class="sb-link">  <a href="#" class="btn btn-primary">Live Demo</a> 
                      </div>
                       <div class="sb-link"> <a href="#" class="btn btn-secondary">Github</a> </div>
                     </div>
                     <hr>
                     <div class="sb-link-main">
                     <h5>Tags</h5>
                      <a href="#" class="badge badge-success">Javascript</a>
                      <a href="#" class="badge badge-danger">HTML</a>
                      <a href="#" class="badge badge-warning">Node</a>
                     </div>
                     <hr>
                      <div class="sb-link-main">
                       <h5>Related Projects</h5>
                       <div> <a href="#" >JS console</a></div>
                       <div><a href="#" >Bouncing Ball</a></div>
                       <div><a href="#" >Matrix Effect</a></div>
                      </div>
                     <hr>
                     <div class="sb-link-main">
                        <h5>Resources</h5>
                      <div> <a href="#" >JS console</a></div>
                       <div><a href="#" >Bouncing Ball</a></div>
                       <div><a href="#" >Matrix Effect</a></div>       
                      </div>
                </div>
                <div class="col-md-9 project-detail-sb">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item"  aria-current="page">Number Guessing</li>
                    </ol>
                    </nav>

                    <h1>Number Guessing Game</h1>
                    <p>In this project you will build a small number guessing game. System will select a random number between 1 and 100. See if you can guess it in 10 turns or fewer. We&#x27;ll tell you if your guess was too high or too low</p>
                    </p>

                </div>
        
           </div>


      </div>
      {{!-- <div class="container">
            <div class="row">
                  <div class="col-md-3 project-details-sb">
                      <h2>Links</h2>
                      <a href="#" class="btn btn-primary">Live Demo</a>                    
                     <a href="#" class="btn btn-secondary">Github</a> 
                </div>
           </div> --}}
      </div>
  </div>
            

</main>
