   {{!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <img src="/image/met.jpg" alt="">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> --}}

<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/">
       <img width="40" height="30"  src="/image/logo.png" alt="">
    </a>
    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="py-2 {{#if navProject}} active {{/if}} d-none d-md-inline-block" href="/projects">Projects</a>
    {{!-- <a class="py-2 {{#if navIndex}} active {{/if}} d-none d-md-inline-block" href="/about">About</a> --}}
    <a class="py-2 {{#if navContact}} active {{/if}} d-none d-md-inline-block" href="/contact">Contact</a>
    <a class="py-2 {{#if navSignup}} active {{/if}} d-none d-md-inline-block" href="/signup">SignUp</a>
    {{!-- <a class="py-2 {{#if navLogin}} active {{/if}} d-none d-md-inline-block" href="/login">Login</a> --}}
    <a class="py-2 {{#if navblog}} active {{/if}} d-none d-md-inline-block" href="/blogs">Blogs</a>
    <a class="py-2 {{#if navResume}} active {{/if}} d-none d-md-inline-block" href="/resume" target="blank">Resume</a>
     <a class="py-2 {{#if navAdmin}} active {{/if}} d-none d-md-inline-block" href="/admin">Admin</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/project">Projects <span class="sr-only">{{current}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/blog">Blogs</a>
          <a class="dropdown-item" href="/resume">Resume</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">SignUp</a>
      </li>
    </ul>
  </div>
  </nav>