.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.project-details-sb{
    border-right: 1px solid grey
}
.sb-link-main{
    padding:5px;
}

.sb-link{
    margin:10px 0px;
}

.breadcrumb{
    background-color:#f8f9fa!important
}

.active{
    color:#fff !important;
    border-bottom:2px solid #fff
}

.social{
    list-style: none;
}
.img-fluid{
    max-width:100%;
    height:auto
}

.form-label-group{
    padding-bottom: 15px;
}
.svg-inline--fa.fa-w-14 {
    width: .875em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.social {
    display: flex;
    margin-top: 1.5rem;
    margin:0px;
    padding:0px;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: left;
    opacity: 0.8;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
}
